name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    env:
      # Lấy giá trị từ VARIABLE mới tạo, không phải SECRET
      REGISTRY: ${{ vars.REGISTRY_URL }}
      IMAGE_NAME: vg-ocr-api

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Private Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}